**/.ipynb_checkpoints/*
**/checkpoints/*pt
*.un~
**/*.un~
**/*.part
**/*.tif
**/*.png
**/*.ckpt
**/*.pt
**/lightning_logs/*
**/*tar.gz
**/.DS_Store
**/hls_burn_scars/training/*.tif
**/hls_burn_scars/validation/*.tif
**/lightning_logs/**/*
**/hls_burn_scars/**
**/granite-geospatial-biomass-dataset/**/*
hls_burn_scars/*
lightning_logs/*
*.zip
local/output/**
local/*.ckpt
