**/.ipynb_checkpoints/*
**/checkpoints/*pt
*.un~
**/*.un~
**/*.part
**/*.tif
**/*.png
**/*.ckpt
**/*.pt
**/lightning_logs/*
**/*tar.gz
**/.DS_Store
burn_scars/hls_burn_scars/training/*.tif
burn_scars/hls_burn_scars/validation/*.tif
burn_scars/lightning_logs/**/*
burn_scars/hls_burn_scars/**
local/granite-geospatial-biomass-dataset/**/*
*.zip
local/output/**
local/*.ckpt
